<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acharyamukti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activity.BlogDetails"
            android:exported="false"
            android:label="The Acharyamukti blog"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".activity.Search"
            android:exported="false"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.PaymentInformation"
            android:exported="false"
            android:label="Payment Information" />
        <activity
            android:name=".activity.ProfileUpdate"
            android:exported="false"
            android:label="Edit"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".activity.Wallet"
            android:exported="true"
            android:label="Wallet"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".activity.Register"
            android:exported="false"
            android:label="Register"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".activity.KundaliniMarriage"
            android:exported="false"
            android:label="Call with Astrologer"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.AstrologerProfile"
            android:exported="false"
            android:label="@string/title_activity_astrologer_profile"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.Horoscope"
            android:exported="false"
            android:label="Horoscope"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.DashBoard"
            android:exported="true"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.ArcheryLive"
            android:exported="false"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.Launcher"
            android:exported="true"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login"
            android:exported="true"
            android:theme="@style/AppThemeNoActionBar"/>
    </application>
</manifest>